@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Inter:wght@600&display=swap');

*{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // height: 3785px;
}

header{
    font-family: 'Cormorant', serif;
    font-weight: 700;
}

.navBar{
    &__name{  
    display: flex;
    justify-content: center;
    font-size: 1.5rem;

    }
    &__button{
        display: none;
    }
}

.jobTitle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:85%;
    // height: auto;
    &__title{
        font-size: 5rem;
    }
    &__text{
        font-size: 1rem;
    }
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
    // height: auto;
    &__image{
        height: 40%;
    }
    &__text{
        &--header{
            font-size: 2rem;
        }
        &--paragraph{
            font-size: 1rem;
        }
    }
}

.skills{
    display: none;  
}


.portfolio{
    display: grid;
    grid-template-areas:
    'portfolioTitle'
    'project01'
    'project02'
    'project03';
    grid-template-rows: 0.15fr 1fr 1fr 1fr;
    // justify-content: space-between;
    width: 85%;
    // height: auto;
    &__header{
        font-weight: 800;
        font-size: 2rem;
        grid-area: portfolioTitle;
    }

    &__card{
        display: grid;
        grid-template-areas:
        'projectCardImage projectCardImage projectCardImage'
        'projectCardHead reactIcon scssIcon';
        grid-template-columns: 3fr 1fr 1fr;
        grid-template-columns: 5fr 1fr;
        width:100%;
        &__screenShot{
            grid-area: projectCardImage;
            width: 100%;
            height: 100%;
        }
        &__head{
            font-size: 2rem;
            font-weight: 400;
            grid-area: projectCardHead;
            display: flex;
            align-items: center;
        }
        &__icon{
            display: flex;
            width: 80%;
            height: 80%;
            &--react{
                display: flex;
                align-items: center;
                grid-area: reactIcon;
                &__txt{
                    display: none;
                }
            }
            &--scss{
                display: flex;
                align-items: center;
                grid-area: scssIcon;
                &__txt{
                    display: none;
                }
            }
        }

        &--01{
            grid-area: project01;
        }
        &--02{
            grid-area: project02;
        }
        &--03{
            grid-area: project03;
        }

        &--04, &--05, &--06{
            display: none;
        }
    }

}


.getInTouch{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    // height: auto;
    &--title{
        height: 100%;
        width: 100%;
        font-size: 5rem;
        text-align: center;
        font-weight: 400;
        margin-bottom:20%;
    }
    &--button{
        font-size: 1.125rem;
        width: 85%;
        color: black;
        background: white;
        padding: 15px 20px 15px 20px;
        border: solid #000000 2px;

    }

}

.footerLinks{
    // height: 10vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    &__box{
        width: 30%;
        display: flex;
        justify-content: center;
        &--linkedin{
            margin:5%;
        }
        &--github{
            margin:5%;
        }
        &--cv{
            margin:5%;
        }

    }
}

@media screen and(min-width: 768px){
    body{
        // min-height: 3495px;
    }
    .navBar{
        display: flex;
        justify-content: space-between;
        width: 85%;
        // min-height: 58px;
        &__name{
            font-size: 3rem;
        }
        &__button{
            display: flex;
            width:30%;
            align-items: center;
            justify-content: center;
           }
        }   
    .skills{
        display: grid;
        grid-template-areas: 
        'skillTxt'
        'skillIcon';
        width:85%;
        // height: auto;
        align-items: center;
        
        &__text{
            display: grid;
            grid-area: skillTxt;
            grid-template-areas: 
            'skillHeader skillParagraph';
            // grid-template-columns:  1fr 3fr;
            width: 100%;
            &--header{
                font-size: 3rem;
                grid-area: skillHeader;
            }
            &--paragraph{
                width: 100%;
                grid-area: skillParagraph;
            }
        }
        &__icon{
            justify-self: center;
            grid-area: skillIcon;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 85%;
  
            &--box{
                min-width: 90px;
            }
        }
    }

    .portfolio{
        display: grid;
        grid-template-areas:
        'portfolioTitle portfolioTitle portforlioTitle'
        'project01 project02 project03'
        'project04 project05 project06';
        grid-template-rows: 0.15fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        
        // min-height: 1469px;

        // justify-content: space-between;
        &__card{

            &--04,&--05,&--06{
                display: grid;
            }
            &--04{
                grid-area: project04;
            }
            &--05{
                grid-area: project05;
            }
            &--06{
                grid-area: project06;
            }
        }
        
    }
}

