@import url("https://fonts.googleapis.com/css2?family=Cormorant&family=Inter:wght@600&display=swap");
* {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #ffffff;
  background-color: #2c2a2a;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}
.nav-bar__name {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}
.nav-bar__surname {
  font-family: "Cormorant", serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: #d9bea5;
}
.nav-bar__button {
  display: none;
}
.nav-bar__options {
  border: 0px;
}

main {
  display: grid;
  grid-template-areas: "jobTitle" "portfolio" "about" "skills" "get-in-touch";
  grid-template-rows: 0.3fr 2fr 1.2fr 0fr 0.4fr;
  grid-template-columns: 1fr;
  row-gap: 1%;
  margin: 3%;
}

header {
  font-family: "Cormorant", serif;
  font-weight: 700;
}

.jobTitle {
  justify-self: center;
  grid-area: jobTitle;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.jobTitle__title {
  font-size: 5rem;
}
.jobTitle__text {
  font-size: 1rem;
  text-decoration: none;
}

.about {
  grid-area: about;
  display: grid;
  grid-template-areas: "about-header" "about-image" "about-paragraph";
  grid-template-rows: 0.1fr 0.8fr 1fr;
  grid-template-columns: 1fr;
  row-gap: 5%;
}
.about__image {
  grid-area: about-image;
  width: 100%;
}
.about__text {
  grid-area: about-text;
  display: flex;
}
.about__text--header {
  grid-area: about-header;
  align-self: flex-start;
  font-size: 2rem;
}
.about__text--paragraph {
  grid-area: about-paragraph;
  font-size: 1rem;
}

.skills {
  grid-area: skills;
  display: none;
}

.portfolio {
  grid-area: portfolio;
  display: grid;
  grid-template-areas: "portfolio-title" "project01" "project02" "project03";
  grid-template-rows: 0.1fr fr 1fr 1fr;
  row-gap: 3%;
}
.portfolio__header {
  display: flex;
  font-weight: 800;
  font-size: 2rem;
  grid-area: portfolio-title;
  align-items: flex-end;
}
.portfolio__header__img {
  width: 3%;
}
.portfolio__card {
  display: grid;
  grid-template-areas: "project-image project-image project-image" "project-header eye code-slash" "reactSCSS reactSCSS reactSCSS";
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: 1fr 0.2fr 0.1fr;
  width: 100%;
}
.portfolio__card__screenShot {
  grid-area: project-image;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
  transition: all 0.2s ease-in-out;
}
.portfolio__card__screenShot:hover {
  transform: scale(1.01);
}
.portfolio__card__head {
  font-size: 2rem;
  font-weight: 400;
  grid-area: project-header;
  align-self: center;
}
.portfolio__card__eye {
  grid-area: eye;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  width: 60%;
  transition: all 0.2s ease-in-out;
}
.portfolio__card__eye:hover {
  transform: scale(1.05);
}
.portfolio__card__code-slash {
  grid-area: code-slash;
  display: flex;
  align-self: center;
  justify-self: center;
  width: 60%;
  transition: all 0.2s ease-in-out;
}
.portfolio__card__code-slash:hover {
  transform: scale(1.05);
}
.portfolio__card__RS {
  display: flex;
  grid-area: reactSCSS;
  justify-content: flex-start;
  width: 50%;
}
.portfolio__card__react {
  font-size: 0.6rem;
  background-color: #3c3636;
  border: 0px;
}
.portfolio__card__scss {
  font-size: 0.6rem;
  background-color: #3c3636;
  border: 0px;
  margin: 0 0 0 2%;
}
.portfolio__card--01 {
  grid-area: project01;
}
.portfolio__card--02 {
  grid-area: project02;
}
.portfolio__card--03 {
  grid-area: project03;
}
.portfolio__card--04, .portfolio__card--05, .portfolio__card--06 {
  display: none;
}

.get-in-touch {
  grid-area: get-in-touch;
  display: grid;
  grid-template-areas: "contact-title" "contact-button";
  grid-template-rows: 1fr 1fr;
}
.get-in-touch--title {
  grid-area: contact-title;
  width: 100%;
  text-align: center;
  font-size: 5rem;
  font-weight: 400;
}
.get-in-touch--button {
  grid-area: contact-button;
  align-self: center;
  justify-self: center;
  font-size: 1.125rem;
  width: 85%;
  color: black;
  background: white;
  padding: 15px 50px 15px 50px;
  border: solid #000000 2px;
}

.footer-links {
  grid-area: footer-links;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-links__box {
  display: flex;
  justify-content: center;
  background-color: black;
}
.footer-links__box--linkedin {
  margin: 5%;
}
.footer-links__box--linkedin img {
  background-color: black;
  height: 100%;
}
.footer-links__box--github {
  margin: 5%;
}
.footer-links__box--github img {
  background-color: black;
  height: 100%;
}
.footer-links__box--cv {
  margin: 5%;
}
.footer-links__box--cv img {
  background-color: black;
  height: 100%;
}

@media screen and (min-width: 768px) {
  main {
    margin: 0% 5%;
    grid-template-rows: 0.3fr 3fr 1.4fr 1fr 1fr;
    grid-template-columns: 10fr;
    row-gap: 2%;
  }
  .nav-bar {
    margin: 0% 5% 5%;
  }
  .nav-bar__name {
    font-size: 3rem;
  }
  .nav-bar__surname {
    font-size: 3rem;
  }
  .nav-bar__button {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: space-between;
  }
  .nav-bar__button--about, .nav-bar__button--contact, .nav-bar__button--portfolio {
    margin: 0% 0% 0% 5%;
  }
  .nav-bar__button--about {
    text-decoration: none;
    color: #ffffff;
  }
  .nav-bar__button--about:hover {
    opacity: 0.5;
  }
  .nav-bar__button--contact {
    text-decoration: none;
    color: #ffffff;
  }
  .nav-bar__button--contact:hover {
    opacity: 0.5;
  }
  .nav-bar__button--portfolio {
    text-decoration: none;
    color: #ffffff;
  }
  .nav-bar__button--portfolio:hover {
    opacity: 0.5;
  }
  .nav-bar__options {
    display: none;
  }
  .jobTitle__text {
    margin: 5% 0 0% 0;
    width: 40%;
  }
  .about {
    grid-template-areas: "about-header about-image" "about-paragraph about-image";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 0.2fr 1fr;
    align-items: center;
    align-self: center;
  }
  .about__text--header {
    align-self: center;
  }
  .skills {
    display: grid;
    grid-template-areas: "skillTxt" "skillIcon";
    align-items: center;
  }
  .skills__text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .skills__text--header {
    justify-content: flex-start;
    min-width: 20%;
    font-size: 3rem;
    grid-area: skillHeader;
  }
  .skills__text--paragraph {
    grid-area: skillParagraph;
  }
  .skills__icon {
    justify-self: center;
    grid-area: skillIcon;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 85%;
  }
  .skills__icon--box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-width: 90px;
    height: 125px;
  }
  .portfolio {
    display: grid;
    grid-template-areas: "portfolio-title portfolio-title portforlio-title" "project01 project02 project03" "project04 project05 project06";
    grid-template-rows: 0.15fr 1fr 1fr;
    grid-template-columns: 1.5fr 1.5fr 1.5fr;
    -moz-column-gap: 2%;
         column-gap: 2%;
    row-gap: 3%;
  }
  .portfolio__card__imgcontainer {
    position: relative;
  }
  .portfolio__card__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #008cba;
  }
  .portfolio__card__imgcontainer:hover .portfolio__card__overlay {
    opacity: 1;
  }
  .portfolio__card__text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .portfolio__card__RS {
    width: 100%;
  }
  .portfolio__card__react, .portfolio__card__scss {
    font-size: 0.6rem;
    background-color: #3c3636;
    border: 0px;
    width: 15%;
  }
  .portfolio__card__scss {
    margin: 0 0 0 1%;
  }
  .portfolio__card--04, .portfolio__card--05, .portfolio__card--06 {
    display: grid;
  }
  .portfolio__card--04 {
    grid-area: project04;
  }
  .portfolio__card--05 {
    grid-area: project05;
  }
  .portfolio__card--06 {
    grid-area: project06;
  }
  .get-in-touch--title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8rem;
  }
  .get-in-touch--button {
    width: 30%;
  }
}/*# sourceMappingURL=styles.css.map */