@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Inter:wght@600&display=swap');

*{

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

header{
    font-family: 'Cormorant', serif;
    font-weight: 700;
}

.navBar{
    &__name{
        font-size: 1.5rem;

    }
    &__button{
        display: none;
    }
}

.jobTitle{
    &__title{
        font-size: 5rem;
    }
}

.skills{
    display: none;  
}


.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__header{
        font-weight: 800;
    }
    &__card{
        margin: 
        &--04, &--05, &--06{
            display: none;
        }
    }
}
.image{
        width: 90%;
        height: 16.75rem;

}
            